/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

/* Overiding Default Styles */
body {
	margin: 0px;
}
ul {
	padding: 0px;
}
hr {
	padding-top: 58px;
	border: none;
	border-bottom: 3px solid #6b686b;
}

.nav {
	max-width: 1440px;
	height: 100px;
	position: fixed;
	top: 0;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.nav .logo {
	width: 25%;
	float: left;
}
.nav .menuLink {
	width: 12.5%;
	float: right;
	padding-top: 43px;
}
.nav li {
	list-style: none;
}
.nav a.logo {
	font-size: 64px;
}
.nav a {
	color: #000;
	display: block;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
	text-align: bottom;
	vertical-align: bottom;
}

.small {
	font-size: 36px !important;
}
.smaller {
	font-size: 12px !important;
}
.container {
	max-width: 600px;
	padding-top: 160px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container .image {
	max-width: 100%;
	height: auto;
	display: block;
	margin-top: 45px;
}
