/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
	margin: 0px;
}
.navContainer {
	width: 100%;
	position: fixed;
}
.nav {
	display: -webkit-flex;
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
	align-items: flex-end;
	border-bottom: 3px solid #6b686b;
	transition: all 0.2s ease;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -8px;
}
.nav li:first-child {
	margin-right: auto;
}
.nav li {
	list-style: none;
}
.nav a {
	margin: 10px 10px 0px 10px;
	color: #000;
	display: block;
	padding-right: 60px;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
	transition: all 0.5s ease;
}

.nav .logo {
	font-size: 64px;
	margin-bottom: -14px;
}

.container {
	max-width: 600px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container .image {
	max-width: 100%;
	height: auto;
	display: block;
	margin-top: 45px;
}

.container .image:first-child {
	margin-top: 100px;
}

.small {
	font-size: 32px !important;
}
.smaller {
	font-size: 12px !important;
}
.border-none {
	border-bottom: 3px solid rgba(0, 0, 0, 0);
}
